body {
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  background: #222222;
  text-align: center;
  color: white;
  margin: 0;
}

div.robot {
  position: relative;
  display: inline-block;
  height: 15rem;
  width: 9.5rem;
  margin: 4rem;
}

div.robot:before,
div.robot:after {
  position: absolute;
  content: '';
  display: block;
  width: 0.4rem;
  height: 0.4rem;
}

.robot:before {
  animation: before 0.5s steps(1) infinite;
}

@keyframes before {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.robot:after {
  opacity: 0;
  animation: after 0.5s steps(1) infinite;
}

@keyframes after {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.robot:before {
  box-shadow: 4rem 0rem 0 #fff, 4.4rem 0rem 0 #fff, 4.8rem 0rem 0 #fff, 5.2rem 0rem 0 #fff, 3.6rem 0.4rem 0 #fff, 5.6rem 0.4rem 0 #fff, 3.2rem 0.8rem 0 #fff, 6rem 0.8rem 0 #fff, 3.2rem 1.2rem 0 #fff, 6rem 1.2rem 0 #fff, 3.6rem 1.6rem 0 #fff, 5.6rem 1.6rem 0 #fff, 4rem 2rem 0 #fff, 4.4rem 2rem 0 #fff, 4.8rem 2rem 0 #fff, 5.2rem 2rem 0 #fff, 4.4rem 2.4rem 0 #fff, 4.8rem 2.4rem 0 #fff, 4.4rem 2.8rem 0 #fff, 4.8rem 2.8rem 0 #fff, 2.4rem 3.2rem 0 #fff, 2.8rem 3.2rem 0 #fff, 3.2rem 3.2rem 0 #fff, 3.6rem 3.2rem 0 #fff, 4rem 3.2rem 0 #fff, 4.4rem 3.2rem 0 #fff, 4.8rem 3.2rem 0 #fff, 5.2rem 3.2rem 0 #fff, 5.6rem 3.2rem 0 #fff, 6rem 3.2rem 0 #fff, 6.4rem 3.2rem 0 #fff, 6.8rem 3.2rem 0 #fff, 2rem 3.6rem 0 #fff, 7.2rem 3.6rem 0 #fff, 2rem 4rem 0 #fff, 7.2rem 4rem 0 #fff, 1.6rem 4.4rem 0 #fff, 2rem 4.4rem 0 #fff, 3.2rem 4.4rem 0 #fff, 6rem 4.4rem 0 #fff, 7.2rem 4.4rem 0 #fff, 7.6rem 4.4rem 0 #fff, 1.2rem 4.8rem 0 #fff, 1.6rem 4.8rem 0 #fff, 2rem 4.8rem 0 #fff, 3.2rem 4.8rem 0 #fff, 6rem 4.8rem 0 #fff, 7.2rem 4.8rem 0 #fff, 7.6rem 4.8rem 0 #fff, 8rem 4.8rem 0 #fff, 1.6rem 5.2rem 0 #fff, 2rem 5.2rem 0 #fff, 3.2rem 5.2rem 0 #fff, 6rem 5.2rem 0 #fff, 7.2rem 5.2rem 0 #fff, 7.6rem 5.2rem 0 #fff, 2rem 5.6rem 0 #fff, 7.2rem 5.6rem 0 #fff, 2rem 6rem 0 #fff, 7.2rem 6rem 0 #fff, 2.4rem 6.4rem 0 #fff, 2.8rem 6.4rem 0 #fff, 3.2rem 6.4rem 0 #fff, 3.6rem 6.4rem 0 #fff, 4rem 6.4rem 0 #fff, 4.4rem 6.4rem 0 #fff, 4.8rem 6.4rem 0 #fff, 5.2rem 6.4rem 0 #fff, 5.6rem 6.4rem 0 #fff, 6rem 6.4rem 0 #fff, 6.4rem 6.4rem 0 #fff, 6.8rem 6.4rem 0 #fff, 3.6rem 6.8rem 0 #fff, 4rem 6.8rem 0 #fff, 4.4rem 6.8rem 0 #fff, 4.8rem 6.8rem 0 #fff, 5.2rem 6.8rem 0 #fff, 5.6rem 6.8rem 0 #fff, 2.8rem 7.2rem 0 #fff, 3.2rem 7.2rem 0 #fff, 3.6rem 7.2rem 0 #fff, 4rem 7.2rem 0 #fff, 4.4rem 7.2rem 0 #fff, 4.8rem 7.2rem 0 #fff, 5.2rem 7.2rem 0 #fff, 5.6rem 7.2rem 0 #fff, 6rem 7.2rem 0 #fff, 6.4rem 7.2rem 0 #fff, 2.4rem 7.6rem 0 #fff, 2.4rem 8rem 0 #fff, 2.4rem 8.4rem 0 #fff, 2.4rem 8.8rem 0 #fff, 2.4rem 9.2rem 0 #fff, 2.4rem 9.6rem 0 #fff, 2.4rem 10rem 0 #fff, 2.4rem 10.4rem 0 #fff, 2.4rem 10.8rem 0 #fff, 2.4rem 11.2rem 0 #fff, 6.8rem 7.6rem 0 #fff, 6.8rem 8rem 0 #fff, 6.8rem 8.4rem 0 #fff, 6.8rem 8.8rem 0 #fff, 6.8rem 9.2rem 0 #fff, 6.8rem 9.6rem 0 #fff, 6.8rem 10rem 0 #fff, 6.8rem 10.4rem 0 #fff, 6.8rem 10.8rem 0 #fff, 6.8rem 11.2rem 0 #fff, 2.8rem 11.6rem 0 #fff, 3.2rem 11.6rem 0 #fff, 3.6rem 11.6rem 0 #fff, 4rem 11.6rem 0 #fff, 4.4rem 11.6rem 0 #fff, 4.8rem 11.6rem 0 #fff, 5.2rem 11.6rem 0 #fff, 5.6rem 11.6rem 0 #fff, 6rem 11.6rem 0 #fff, 6.4rem 11.6rem 0 #fff, 4.4rem 8rem 0 #fff, 4.8rem 8rem 0 #fff, 3.6rem 8.4rem 0 #fff, 4rem 8.4rem 0 #fff, 3.6rem 8.8rem 0 #fff, 4rem 8.8rem 0 #fff, 5.2rem 8.4rem 0 #fff, 5.6rem 8.4rem 0 #fff, 5.2rem 8.8rem 0 #fff, 5.6rem 8.8rem 0 #fff, 3.2rem 9.2rem 0 #fff, 3.2rem 9.6rem 0 #fff, 4.4rem 9.2rem 0 #fff, 4.4rem 9.6rem 0 #fff, 4.8rem 9.2rem 0 #fff, 4.8rem 9.6rem 0 #fff, 6rem 9.2rem 0 #fff, 6rem 9.6rem 0 #fff, 3.6rem 10rem 0 #fff, 4rem 10rem 0 #fff, 3.6rem 10.4rem 0 #fff, 4rem 10.4rem 0 #fff, 5.2rem 10rem 0 #fff, 5.6rem 10rem 0 #fff, 5.2rem 10.4rem 0 #fff, 5.6rem 10.4rem 0 #fff, 4.4rem 10.8rem 0 #fff, 4.8rem 10.8rem 0 #fff, 1.2rem 8rem 0 #fff, 1.6rem 8rem 0 #fff, 2rem 8rem 0 #fff, 0.8rem 8.4rem 0 #fff, 1.2rem 8.4rem 0 #fff, 1.6rem 8.4rem 0 #fff, 2rem 8.4rem 0 #fff, 0.4rem 8.8rem 0 #fff, 0.8rem 8.8rem 0 #fff, 1.2rem 8.8rem 0 #fff, 0.4rem 9.2rem 0 #fff, 0.8rem 9.2rem 0 #fff, 1.2rem 9.2rem 0 #fff, 0.4rem 9.6rem 0 #fff, 0.8rem 9.6rem 0 #fff, 1.2rem 9.6rem 0 #fff, 0.8rem 10rem 0 #fff, 0.4rem 10.4rem 0 #fff, 0.8rem 10.4rem 0 #fff, 1.2rem 10.4rem 0 #fff, 0rem 10.8rem 0 #fff, 0.4rem 10.8rem 0 #fff, 1.2rem 10.8rem 0 #fff, 1.6rem 10.8rem 0 #fff, 0.4rem 11.2rem 0 #fff, 1.2rem 11.2rem 0 #fff, 7.2rem 8rem 0 #fff, 7.6rem 8rem 0 #fff, 8rem 8rem 0 #fff, 7.2rem 8.4rem 0 #fff, 7.6rem 8.4rem 0 #fff, 8rem 8.4rem 0 #fff, 8.4rem 8.4rem 0 #fff, 8rem 8.8rem 0 #fff, 8.4rem 8.8rem 0 #fff, 8.8rem 8.8rem 0 #fff, 8rem 9.2rem 0 #fff, 8.4rem 9.2rem 0 #fff, 8.8rem 9.2rem 0 #fff, 8rem 9.6rem 0 #fff, 8.4rem 9.6rem 0 #fff, 8.8rem 9.6rem 0 #fff, 8.4rem 10rem 0 #fff, 8rem 10.4rem 0 #fff, 8.4rem 10.4rem 0 #fff, 8.8rem 10.4rem 0 #fff, 7.6rem 10.8rem 0 #fff, 8rem 10.8rem 0 #fff, 8.8rem 10.8rem 0 #fff, 9.2rem 10.8rem 0 #fff, 8rem 11.2rem 0 #fff, 8.8rem 11.2rem 0 #fff, 3.6rem 12rem 0 #fff, 4rem 12rem 0 #fff, 3.6rem 12.4rem 0 #fff, 4rem 12.4rem 0 #fff, 3.6rem 12.8rem 0 #fff, 4rem 12.8rem 0 #fff, 3.6rem 13.2rem 0 #fff, 4rem 13.2rem 0 #fff, 2.8rem 13.6rem 0 #fff, 3.2rem 13.6rem 0 #fff, 3.6rem 13.6rem 0 #fff, 4rem 13.6rem 0 #fff, 2.4rem 14rem 0 #fff, 2.8rem 14rem 0 #fff, 3.2rem 14rem 0 #fff, 3.6rem 14rem 0 #fff, 4rem 14rem 0 #fff, 5.2rem 12rem 0 #fff, 5.6rem 12rem 0 #fff, 5.2rem 12.4rem 0 #fff, 5.6rem 12.4rem 0 #fff, 5.2rem 12.8rem 0 #fff, 5.6rem 12.8rem 0 #fff, 5.2rem 13.2rem 0 #fff, 5.6rem 13.2rem 0 #fff, 5.2rem 13.6rem 0 #fff, 5.6rem 13.6rem 0 #fff, 6rem 13.6rem 0 #fff, 6.4rem 13.6rem 0 #fff, 5.2rem 14rem 0 #fff, 5.6rem 14rem 0 #fff, 6rem 14rem 0 #fff, 6.4rem 14rem 0 #fff, 6.8rem 14rem 0 #fff;
}

.robot:after {
  box-shadow: 4.4rem 0.4rem 0 #fff, 4.8rem 0.4rem 0 #fff, 4.4rem 0.8rem 0 #fff, 4.8rem 0.8rem 0 #fff, 4.4rem 1.2rem 0 #fff, 4.8rem 1.2rem 0 #fff, 4.4rem 1.6rem 0 #fff, 4.8rem 1.6rem 0 #fff, 4.4rem 2rem 0 #fff, 4.8rem 2rem 0 #fff, 4.4rem 2.4rem 0 #fff, 4.8rem 2.4rem 0 #fff, 4.4rem 2.8rem 0 #fff, 4.8rem 2.8rem 0 #fff, 4.4rem 3.2rem 0 #fff, 4.8rem 3.2rem 0 #fff, 2.4rem 3.6rem 0 #fff, 2.8rem 3.6rem 0 #fff, 3.2rem 3.6rem 0 #fff, 3.6rem 3.6rem 0 #fff, 4rem 3.6rem 0 #fff, 4.4rem 3.6rem 0 #fff, 4.8rem 3.6rem 0 #fff, 5.2rem 3.6rem 0 #fff, 5.6rem 3.6rem 0 #fff, 6rem 3.6rem 0 #fff, 6.4rem 3.6rem 0 #fff, 6.8rem 3.6rem 0 #fff, 2rem 4rem 0 #fff, 7.2rem 4rem 0 #fff, 2rem 4.4rem 0 #fff, 7.2rem 4.4rem 0 #fff, 1.6rem 4.8rem 0 #fff, 2rem 4.8rem 0 #fff, 3.2rem 4.8rem 0 #fff, 6rem 4.8rem 0 #fff, 7.2rem 4.8rem 0 #fff, 7.6rem 4.8rem 0 #fff, 1.2rem 5.2rem 0 #fff, 1.6rem 5.2rem 0 #fff, 2rem 5.2rem 0 #fff, 3.2rem 5.2rem 0 #fff, 6rem 5.2rem 0 #fff, 7.2rem 5.2rem 0 #fff, 7.6rem 5.2rem 0 #fff, 8rem 5.2rem 0 #fff, 1.6rem 5.6rem 0 #fff, 2rem 5.6rem 0 #fff, 3.2rem 5.6rem 0 #fff, 6rem 5.6rem 0 #fff, 7.2rem 5.6rem 0 #fff, 7.6rem 5.6rem 0 #fff, 2rem 6rem 0 #fff, 7.2rem 6rem 0 #fff, 2rem 6.4rem 0 #fff, 7.2rem 6.4rem 0 #fff, 2.4rem 6.8rem 0 #fff, 2.8rem 6.8rem 0 #fff, 3.2rem 6.8rem 0 #fff, 3.6rem 6.8rem 0 #fff, 4rem 6.8rem 0 #fff, 4.4rem 6.8rem 0 #fff, 4.8rem 6.8rem 0 #fff, 5.2rem 6.8rem 0 #fff, 5.6rem 6.8rem 0 #fff, 6rem 6.8rem 0 #fff, 6.4rem 6.8rem 0 #fff, 6.8rem 6.8rem 0 #fff, 3.6rem 7.2rem 0 #fff, 4rem 7.2rem 0 #fff, 4.4rem 7.2rem 0 #fff, 4.8rem 7.2rem 0 #fff, 5.2rem 7.2rem 0 #fff, 5.6rem 7.2rem 0 #fff, 2.8rem 7.6rem 0 #fff, 3.2rem 7.6rem 0 #fff, 3.6rem 7.6rem 0 #fff, 4rem 7.6rem 0 #fff, 4.4rem 7.6rem 0 #fff, 4.8rem 7.6rem 0 #fff, 5.2rem 7.6rem 0 #fff, 5.6rem 7.6rem 0 #fff, 6rem 7.6rem 0 #fff, 6.4rem 7.6rem 0 #fff, 2.4rem 8rem 0 #fff, 2.4rem 8.4rem 0 #fff, 2.4rem 8.8rem 0 #fff, 2.4rem 9.2rem 0 #fff, 2.4rem 9.6rem 0 #fff, 2.4rem 10rem 0 #fff, 2.4rem 10.4rem 0 #fff, 2.4rem 10.8rem 0 #fff, 2.4rem 11.2rem 0 #fff, 2.4rem 11.6rem 0 #fff, 6.8rem 8rem 0 #fff, 6.8rem 8.4rem 0 #fff, 6.8rem 8.8rem 0 #fff, 6.8rem 9.2rem 0 #fff, 6.8rem 9.6rem 0 #fff, 6.8rem 10rem 0 #fff, 6.8rem 10.4rem 0 #fff, 6.8rem 10.8rem 0 #fff, 6.8rem 11.2rem 0 #fff, 6.8rem 11.6rem 0 #fff, 2.8rem 12rem 0 #fff, 3.2rem 12rem 0 #fff, 3.6rem 12rem 0 #fff, 4rem 12rem 0 #fff, 4.4rem 12rem 0 #fff, 4.8rem 12rem 0 #fff, 5.2rem 12rem 0 #fff, 5.6rem 12rem 0 #fff, 6rem 12rem 0 #fff, 6.4rem 12rem 0 #fff, 4.4rem 8.4rem 0 #fff, 4.8rem 8.4rem 0 #fff, 3.6rem 8.8rem 0 #fff, 4rem 8.8rem 0 #fff, 3.6rem 9.2rem 0 #fff, 4rem 9.2rem 0 #fff, 5.2rem 8.8rem 0 #fff, 5.6rem 8.8rem 0 #fff, 5.2rem 9.2rem 0 #fff, 5.6rem 9.2rem 0 #fff, 3.2rem 9.6rem 0 #fff, 3.2rem 10rem 0 #fff, 4.4rem 9.6rem 0 #fff, 4.4rem 10rem 0 #fff, 4.8rem 9.6rem 0 #fff, 4.8rem 10rem 0 #fff, 6rem 9.6rem 0 #fff, 6rem 10rem 0 #fff, 3.6rem 10.4rem 0 #fff, 4rem 10.4rem 0 #fff, 3.6rem 10.8rem 0 #fff, 4rem 10.8rem 0 #fff, 5.2rem 10.4rem 0 #fff, 5.6rem 10.4rem 0 #fff, 5.2rem 10.8rem 0 #fff, 5.6rem 10.8rem 0 #fff, 4.4rem 11.2rem 0 #fff, 4.8rem 11.2rem 0 #fff, 1.2rem 8.4rem 0 #fff, 1.6rem 8.4rem 0 #fff, 2rem 8.4rem 0 #fff, 0.8rem 8.8rem 0 #fff, 1.2rem 8.8rem 0 #fff, 1.6rem 8.8rem 0 #fff, 2rem 8.8rem 0 #fff, 0.4rem 9.2rem 0 #fff, 0.8rem 9.2rem 0 #fff, 1.2rem 9.2rem 0 #fff, 0.4rem 9.6rem 0 #fff, 0.8rem 9.6rem 0 #fff, 1.2rem 9.6rem 0 #fff, 0.4rem 10rem 0 #fff, 0.8rem 10rem 0 #fff, 1.2rem 10rem 0 #fff, 0.8rem 10.4rem 0 #fff, 0.4rem 10.8rem 0 #fff, 0.8rem 10.8rem 0 #fff, 1.2rem 10.8rem 0 #fff, 0rem 11.2rem 0 #fff, 0.4rem 11.2rem 0 #fff, 1.2rem 11.2rem 0 #fff, 1.6rem 11.2rem 0 #fff, 0.4rem 11.6rem 0 #fff, 1.2rem 11.6rem 0 #fff, 7.2rem 8.4rem 0 #fff, 7.6rem 8.4rem 0 #fff, 8rem 8.4rem 0 #fff, 7.2rem 8.8rem 0 #fff, 7.6rem 8.8rem 0 #fff, 8rem 8.8rem 0 #fff, 8.4rem 8.8rem 0 #fff, 8rem 9.2rem 0 #fff, 8.4rem 9.2rem 0 #fff, 8.8rem 9.2rem 0 #fff, 8rem 9.6rem 0 #fff, 8.4rem 9.6rem 0 #fff, 8.8rem 9.6rem 0 #fff, 8rem 10rem 0 #fff, 8.4rem 10rem 0 #fff, 8.8rem 10rem 0 #fff, 8.4rem 10.4rem 0 #fff, 8rem 10.8rem 0 #fff, 8.4rem 10.8rem 0 #fff, 8.8rem 10.8rem 0 #fff, 7.6rem 11.2rem 0 #fff, 8rem 11.2rem 0 #fff, 8.8rem 11.2rem 0 #fff, 9.2rem 11.2rem 0 #fff, 8rem 11.6rem 0 #fff, 8.8rem 11.6rem 0 #fff, 3.6rem 12.4rem 0 #fff, 4rem 12.4rem 0 #fff, 3.2rem 12.8rem 0 #fff, 3.6rem 12.8rem 0 #fff, 3.6rem 13.2rem 0 #fff, 4rem 13.2rem 0 #fff, 2.8rem 13.6rem 0 #fff, 3.2rem 13.6rem 0 #fff, 3.6rem 13.6rem 0 #fff, 4rem 13.6rem 0 #fff, 2.4rem 14rem 0 #fff, 2.8rem 14rem 0 #fff, 3.2rem 14rem 0 #fff, 3.6rem 14rem 0 #fff, 4rem 14rem 0 #fff, 5.2rem 12.4rem 0 #fff, 5.6rem 12.4rem 0 #fff, 5.6rem 12.8rem 0 #fff, 6rem 12.8rem 0 #fff, 5.2rem 13.2rem 0 #fff, 5.6rem 13.2rem 0 #fff, 5.2rem 13.6rem 0 #fff, 5.6rem 13.6rem 0 #fff, 6rem 13.6rem 0 #fff, 6.4rem 13.6rem 0 #fff, 5.2rem 14rem 0 #fff, 5.6rem 14rem 0 #fff, 6rem 14rem 0 #fff, 6.4rem 14rem 0 #fff, 6.8rem 14rem 0 #fff;
}

#title:after {
  content: "SAIF EDDIN GMATI";
  animation: spin 4s cubic-bezier(1,-0.46,.41,1.62);
}

@keyframes spin {
  0% {
    content: "A";
  }
  5% {
    content: "A Z";
  }
  10% {
    content: "A Z J";
  }
  15% {
    content: "A Z J E";
  }
  20% {
    content: "A Z J E Z";
  }
  25% {
    content: "A Z J E Z Z";
  }
  30% {
    content: "A Z J E Z Z";
    color: red;
  }
  35% {
    content: "A Z J E Z Z";
    color: white;
  }
  40% {
    content: "A Z J E Z Z";
    color: red;
  }
  45% {
    content: "A Z J E Z Z";
    color: white;
  }
  50% {
    content: "A Z J E Z Z";
    color: red;
  }
  55% {
    content: "A Z J E Z Z";
    color: white;
  }
  60% {
    content: "A Z J E Z Z";
    color: red;
  }
  65% {
    content: "A Z J E Z Z";
    color: white;
  }
  70% {
    content: "A Z J E Z Z";
    color: red;
  }
  75% {
    content: "A Z J E Z Z"; 
    color: white;
  }
  80% {
    content: "A Z J E Z Z";
    color: red;
  }
  85% {
    content: "A Z J E Z Z"; 
    color: white;
  }
  90% {
    content: "A Z J E Z Z";
    color: red;
  }
  95% {
    content: "A Z J E Z Z"; 
    color: white;
  }
  100% {
    content: "A Z J E Z Z";
    color: red;
  }
}

.footer {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 4rem;
  margin: 6rem auto;
}

@media (min-width: 600px) {
  .footer {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer > div {
  text-align: center;
}

.footer > div > a {
  margin: auto;
  color: #fff;
  text-decoration: none;
  padding: 0 6px 2px;
  border-bottom: 2px solid red;
  font-size: 20px;
}

.dash {
  color: gray; 
}
